{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "rules": {
    "import/extensions": "off",
    "comma-dangle": "off",
    "no-unused-expressions": "off"
  }
}
